<section>
  <div *ngIf="projects$ | async; else showEmptyState" class="container">
    <div class="title-container">
      <h2>Projects List</h2>
      <button class="btn-add" (click)="onOpenCloseAddSquare($event)"> <img
          src="https://www.htmlcssbuttongenerator.com/iconExample-plus-square-multiple-lined.svg" width="25"></button>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Description</th>
          <th>Creation Date</th>
          <th>Customer</th>
          <th>Buttons</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects$ | async">
          <td>{{project.id}}</td>
          <td>{{project.name}}</td>
          <td>{{project.descriptoin}}</td>
          <td>{{project.creationDate}}</td>
          <td>{{project.customer.name}}</td>
          <td>
            <button class="btn" (click)="deleteProject(project.id)" class="btn btn-danger">Delete</button>
            <button class="btn" (click)="goUpdateProject(project.id)" class="btn btn-info">Update</button>
            <button class="btn" (click)="goDetailsProject(project.id)" class="btn btn-info">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <section id="square" #square (mousedown)="onOpenCloseAddSquare($event)">
    <app-add-project class="section-create" (mousedown)="onAvoidCloseSquareAdd()"
      (outputSectionAdd)="onOpenCloseAddSquare($event)" (itemAdded)="loadProjects()"></app-add-project>
  </section>
  <ng-template #showEmptyState>
    <div class="loading-container">
      <div class="spinner"></div>
    </div>
  </ng-template>
</section>